 <div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 logo">
                <div class="navbar-brand">
                    <a href=""><img src="images/logo.png" alt="Wedding Vendors" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="navigation" id="navigation">
                    <ul>
                        <li class="active"><a href="">Home</a>
                        </li>
                        <li><a href="#">Listing</a>
                            <ul>
                                <li><a href="/map" title="Home" class="animsition-link">Top Map / List</a></li>                      
                            </ul>
                        </li>         
                        <li><a href="#">News</a>
                            <ul>
                                <li><a href="planning-to-do.html">To Do List</a></li>
                                <li><a href="planning-budget.html">Budget Planner</a></li>
                                <li><a href="couple-landing-page.html">Couple Signup (LP)</a></li>
                                <li><a href="couple-dashboard.html">Couple Admin</a></li>
                                <li><a href="dashboard-vendor.html">Vendor Admin</a></li>
                            </ul>
                        </li>
                        <li><a href="#">PAGES</a>
                            <ul>
                                <li><a href="#">Blog</a></li>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="contact-us.html">Contact us</a></li>
                                <li><a href="pricing-plan.html">Pricing Table</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="404-error.html">404 Error</a></li>
                                <li><a href="wedding-guideline.html">Template Guideline</a></li>
                            </ul>
                        </li>
                        <li><a href="vendor-details.html"> Add Listing</a>
                          <ul>
                              <li><a href="/dashboard"> User Dashboard</a></li>
                              <li><a href="vendor-profile.html"> Vendor Profile</a></li>
                          </ul>
                      </li>
                       
                    </ul>
                </div>
            
            </div>
        </div>
    </div>
</div>