<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from jituchauhan.com/wedding/wedding-new/vendor-listing-top-map.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Jun 2021 22:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Wedding Vendor | Find The Best Wedding Vendors</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Template style.css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <!-- Font used in template -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'>
    <!--font awesome icon -->
    <link rel="stylesheet" href="../../../maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
<header>
    <%- include('header'); %>
  
</header>
<body>
    <div class="collapse" id="searcharea">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
    <button class="btn tp-btn-primary" type="button">Search</button>
    </span> </div>
    </div>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 top-message">
                    <p>Welcome to Wedding Vendor.</p>
                </div>
                <div class="col-md-6 top-links">
                    <ul class="listnone">
                        <li><a href="faq.html"> Help </a></li>
                        <li><a href="pricing-plan.html">Pricing</a></li>
                        <li><a href="signup-couple.html" class=" ">I m couple</a></li>
                        <li><a href="signup-vendor.html">Are you vendor?</a></li>
                        <li><a href="login-page.html">Log in</a></li>
                        <li>
                            <a role="button" data-toggle="collapse" href="#searcharea" aria-expanded="false" aria-controls="searcharea"> <i class="fa fa-search"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ">
                <!-- map wrap-->
                <div class="top-map-wrap">
                   
                        <div id="map" style="width: 1500px; height: 600px"></div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="tp-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Vendor Top Map Template</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="filter-box top-filter-sticky">
            <div class="row filter-form">
                <div class="col-md-12">
                    <h4>Refine Your Search</h4>
                </div>
                <form id = 'checkbox' name = 'checkbox'>
                    <input type='checkbox' name='CheckBoxMarqueur' id='CheckMarqueur1' onchange="filterMap(event)" value='Post'/>
                    <label for='Marqueur 1'> Post</label> 
                    <input type='checkbox' name='CheckBoxMarqueur' id='CheckMarqueur2'onchange="filterMap(event)" value='Market' />
                     <label for='Marqueur 2' >Market </label>
                     <input type='checkbox' name='CheckBoxMarqueur' id='CheckMarqueur3'onchange="filterMap(event)" value='Pharmacie' />
                     <label for='Marqueur 3' >Pharmacie </label>
                     <input type='checkbox' name='CheckBoxMarqueur' id='CheckMarqueur4'onchange="filterMap(event)" value='Ecole' />
                     <label for='Marqueur 4' >Ecole </label>
                         
                </form>
                <form>
                    <div class="col-md-3">
                        <label class="control-label" for="venuetype">Venue Type</label>
                        <select id="venuetype" name="venuetype" class="form-control">
                            <option value="">Select Venue</option>
                            <option value="Barn">Barn</option>
                            <option value="Boutique">Boutique</option>
                            <option value="Castle">Castle</option>
                            <option value="Country House">Country House</option>
                            <option value="Exclusive use">Exclusive use</option>
                            <option value="Garden weddings">Garden weddings</option>
                            <option value="Gay friendly">Gay friendly</option>
                            <option value="Gothic">Gothic</option>
                            <option value="Hotel">Hotel</option>
                            <option value="Intimate">Intimate</option>
                            <option value="Manor House">Manor House</option>
                            <option value="Marquee">Marquee</option>
                            <option value="Minimalist">Minimalist</option>
                            <option value="Modern">Modern</option>
                            <option value="Outside Weddings">Outside Weddings</option>
                            <option value="Palace">Palace</option>
                            <option value="Private School">Private School</option>
                            <option value="Romantic">Romantic</option>
                            <option value="Small">Small</option>
                            <option value="Waterside">Waterside</option>
                            <option value="Weekend">Weekend</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" for="capacity">Capacity</label>
                        <select id="capacity" name="capacity" class="form-control">
                            <option value="">Select Capacity</option>
                            <option value="0 - 99">0 - 99</option>
                            <option value="100 - 199">100 - 199</option>
                            <option value="200 - 299">200 - 299</option>
                            <option value="300 - 399">300 - 399</option>
                            <option value="400+">60 - 500</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="price-range default-range">
                            <label for="amount" class="control-label">Price range:</label>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                            <div id="slider-range"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-block">Refine Your Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb30">
                        <h2> 12 Vendor in your search.</h2>
                    </div>
                </div>
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-1.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-2.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-3.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-4.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-5.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-6.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-7.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-8.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#"><img src="images/vendor-1.jpg" alt="wedding venue" class="img-responsive"></a>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating "> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- venue details -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 tp-pagination">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next"> <span aria-hidden="true">NEXT</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <!-- Footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 ft-aboutus">
                    <h2>Wedding.Vendor</h2>
                    <p>At Wedding Vendor our purpose is to help people find great online network connecting wedding suppliers and wedding couples who use those suppliers. <a href="#">Start Find Vendor!</a></p>
                    <a href="#" class="btn btn-default">Find a Vendor</a> </div>
                <div class="col-md-3 ft-link">
                    <h2>Useful links</h2>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-md-4 newsletter">
                    <h2>Subscribe for Newsletter</h2>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter E-Mail Address" required>
                            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Submit</button>
            </span> </div>
                        <!-- /input-group -->
                        <!-- /.col-lg-6 -->
                    </form>
                    <div class="social-icon">
                        <h2>Be Social &amp; Stay Connected</h2>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Footer -->
    <div class="tiny-footer">
        <!-- Tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">Copyright © 2014. All Rights Reserved</div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Flex Nav Script -->
    <script src="js/jquery.flexnav.js" type="text/javascript"></script>
    <script src="js/navigation.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/header-sticky.js"></script>
    <script src="../../../code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="js/price-slider.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
    
    <script>
    // The following example creates complex markers to indicate beaches near

    // to the base of the flagpole.

    function initMap() {
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 12,
            scrollwheel: false,
            center: {
                lat: 23.0314489,
                lng: 72.5788925
            }
        });

        setMarkers(map);
    }

    // Data for the markers consisting of a name, a LatLng and a zIndex for the
    // order in which these markers should display on top of each other.
    var beaches = [

        ['Florist Vendor', 23.0676033, 72.5735364, 4, 'florist.png'],
        ['Dresses Vendor', 23.0676413, 72.560375, 5, 'dress.png'],
        ['Venue Vendor', 23.0683954, 72.5306521, 3, 'venue.png'],
        ['Venue Vendor', 23.0715393, 72.5849452, 2, 'venue.png'],
        ['Dresses Vendor', 23.0206091, 72.5026789, 1, 'dress.png'],
        ['Photography Vendor', 23.0358085, 72.6200942, 1, 'photography.png'],
        ['Videography Vendor', 22.9748713, 72.5891307, 1, 'videography.png'],
        ['Favour & gift Vendor', 23.1125045, 72.5641729, 1, 'favour-gift.png'],
        ['Music Vendor', 23.1125045, 72.5641729, 1, 'music.png'],
        ['Jwellery Vendor', 23.0384031, 72.5267135, 1, 'jwellery.png'],
        ['Cake Vendor', 23.0028003, 72.5399962, 1, 'cake.png']
    ];

    function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.

        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };
        for (var i = 0; i < beaches.length; i++) {
            var beach = beaches[i];
            var image = {
                url: 'images/' + beach[4],

                // This marker is 20 pixels wide by 32 pixels high.
                size: new google.maps.Size(32, 49),
                // The origin for this image is (0, 0).
                origin: new google.maps.Point(0, 0),
                // The anchor for this image is the base of the flagpole at (0, 32).
                anchor: new google.maps.Point(0, 49)
            };
            var marker = new google.maps.Marker({
                position: {
                    lat: beach[1],
                    lng: beach[2]
                },
                map: map,
                icon: image,
                shape: shape,
                title: beach[0],
                zIndex: beach[3]
            });
            var content = "Vendor: " + beach[0];
            var infowindow = new google.maps.InfoWindow()
            google.maps.event.addListener(marker, 'mouseover', (function(marker, content, infowindow) {
                return function() {
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                };
            })(marker, content, infowindow));


        }
    }
    </script>
</body>


<!-- Mirrored from jituchauhan.com/wedding/wedding-new/vendor-listing-top-map.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Jun 2021 22:33:21 GMT -->
</html>
